.LiqForms-Container {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    background: #535561;
    /* background: white; */
    position: relative;
    display: block !important;
}
@font-face {
    font-family: Signature;
    src: url(Creattion.otf);
}
@media print{
    .FormsHeader{
        display:none;
    }
    .LiqForms-Container {
        background: white !important;
    }
    .LiqForms-Container .Acknowledge {
        display: none !important;
    }
    @page {margin: 0mm;size: A4;}
    body { margin: 0px 10px; }
}
.LiqForms-Container .MuiTableCell-root {
    border-bottom: none;
    padding: 0px !important;
}
.LiqForms-Container .FormsHeader {
    width: 60px;
    height: 250px;
    padding: 15px 10px;
    color: white;
    background: #2963AD;
    /* border: solid 1px #5798ee;
    box-shadow: 0px 1px 5px #12325e; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    top: 0px;
    right: 2vw;
    z-index: 99999;
}
.LiqForms-Container .FormsHeader ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.LiqForms-Container .FormsHeader ul li {
    padding: 7px 0;
    margin: 0px;
}
.LiqForms-Container .FormsHeader .FormMenuLogo {
    background: url(../assets/TGS_Logo.svg) no-repeat center center transparent;
    background-size: auto 80%;
    width: 100%;
    height: 60px;
}
.LiqForms-Container .FormsHeader ul li Button {
    min-width: 100% !important;
    border-radius: 50%;
}
.LiqForms-Container .FormsHeader ul li Button svg {
    width: 26px;
    height: 26px;
    color: white;
}
.LiqForms-Container .FormTable {
    width: 800px;
}
.LiqForms-Container .MuiButton-root:hover {
    background-color: transparent;
}

@font-face {
  font-family: Signature;
  src: url(Creattion.otf);
}
.LiqForms-Container .header {
	font-family: 'Playfair Display', serif;
}
.LiqForms-Container .headerBorder{
		border-bottom:solid 8px black;
		padding-bottom:5px;
}
.LiqForms-Container .Signature {
  font-family: Signature;
  font-size: 40px;
}

.LiqForms-Container table tr.bold .MuiTableCell-root {font-weight:bold!important;}
.LiqForms-Container table tr td.MuiTableCell-root.bold {font-weight:bold!important;}

.LiqForms-Container .normal {font-weight:normal;}
.LiqForms-Container input,
.LiqForms-Container textarea,
.LiqForms-Container button {outline:none;font-family: 'DM Mono', monospace;font-size:14px}
.LiqForms-Container input[type=checkbox]{margin:0px;}
.LiqForms-Container *{box-sizing: border-box;}

.LiqForms-Container .font10 {font-size:10px!important;}.LiqForms-Container .font11 {font-size:11px!important;}.LiqForms-Container .font12 {font-size:12px!important;}.LiqForms-Container .font14 {font-size:14px!important;}.LiqForms-Container .font16 {font-size:16px!important;}.LiqForms-Container .font18 {font-size:18px!important;}.LiqForms-Container .font20 {font-size:20px!important;}.LiqForms-Container .font22 {font-size:22px!important;}.LiqForms-Container .font24 {font-size:24px!important;}.LiqForms-Container .font26 {font-size:26px!important;}.LiqForms-Container table.font10 .MuiTableCell-root {font-size:10px!important;}.LiqForms-Container table.font11 .MuiTableCell-root {font-size:11px!important;}.LiqForms-Container table.font12 .MuiTableCell-root {font-size:12px!important;}.LiqForms-Container table.font14 .MuiTableCell-root {font-size:14px!important;}.LiqForms-Container table.font16 .MuiTableCell-root {font-size:16px!important;}.LiqForms-Container table.font18 .MuiTableCell-root {font-size:18px!important;}.LiqForms-Container table.font20 .MuiTableCell-root {font-size:20px!important;}.LiqForms-Container table.font22 .MuiTableCell-root {font-size:22px!important;}.LiqForms-Container table.font24 .MuiTableCell-root {font-size:24px!important;}.LiqForms-Container table.font26 .MuiTableCell-root {font-size:26px!important;}.LiqForms-Container .font10 .MuiTableCell-root {font-size:10px!important;}.LiqForms-Container .font11 .MuiTableCell-root {font-size:11px!important;}.LiqForms-Container .font12 .MuiTableCell-root {font-size:12px!important;}.LiqForms-Container .font14 .MuiTableCell-root {font-size:14px!important;}.LiqForms-Container .font16 .MuiTableCell-root {font-size:16px!important;}.LiqForms-Container .font18 .MuiTableCell-root {font-size:18px!important;}.LiqForms-Container .font20 .MuiTableCell-root {font-size:20px!important;}.LiqForms-Container .font22 .MuiTableCell-root {font-size:22px!important;}.LiqForms-Container .font24 .MuiTableCell-root {font-size:24px!important;}.LiqForms-Container .font26 .MuiTableCell-root {font-size:26px!important;}.LiqForms-Container .MuiTableCell-root.font10 {font-size:10px!important;}.LiqForms-Container .MuiTableCell-root.font11 {font-size:11px!important;}.LiqForms-Container .MuiTableCell-root.font12 {font-size:12px!important;}.LiqForms-Container .MuiTableCell-root.font14 {font-size:14px!important;}.LiqForms-Container .MuiTableCell-root.font16 {font-size:16px!important;}.LiqForms-Container .MuiTableCell-root.font18 {font-size:18px!important;}.LiqForms-Container .MuiTableCell-root.font20 {font-size:20px!important;}.LiqForms-Container .MuiTableCell-root.font22 {font-size:22px!important;}.LiqForms-Container .MuiTableCell-root.font24 {font-size:24px!important;}.LiqForms-Container .MuiTableCell-root.font26 {font-size:26px!important;}




.LiqForms-Container .boldBorder {
	border-bottom: solid 3px black;
	border-top: solid 3px black;
}
.LiqForms-Container .boldBBorder {border-bottom: solid 3px black;}
.LiqForms-Container .border {border:solid 1px black!important;}
.LiqForms-Container .bl {border-left:solid 1px black!important;}
.LiqForms-Container .br {border-right:solid 1px black!important;}
.LiqForms-Container .bt {border-top:solid 1px black!important;}
.LiqForms-Container .bb {border-bottom:solid 1px black!important;}

.LiqForms-Container .p1{padding:1px!important;}.LiqForms-Container .p2{padding:2px!important;}.LiqForms-Container .p3{padding:3px!important;}.LiqForms-Container .p4{padding:4px!important;}.LiqForms-Container .p5{padding:5px!important;}.LiqForms-Container .p6{padding:6px!important;}.LiqForms-Container .p7{padding:7px!important;}.LiqForms-Container .p8{padding:8px!important;}.LiqForms-Container .p9{padding:9px!important;}.LiqForms-Container .p10{padding:10px!important;}.LiqForms-Container .pt1{padding-top:1px!important;}.LiqForms-Container .pt2{padding-top:2px!important;}.LiqForms-Container .pt3{padding-top:3px!important;}.LiqForms-Container .pt4{padding-top:4px!important;}.LiqForms-Container .pt5{padding-top:5px!important;}.LiqForms-Container .pt6{padding-top:6px!important;}.LiqForms-Container .pt7{padding-top:7px!important;}.LiqForms-Container .pt8{padding-top:8px!important;}.LiqForms-Container .pt9{padding-top:9px!important;}.LiqForms-Container .pt10{padding-top:10px!important;}.LiqForms-Container .pt12{padding-top:12px!important;}.LiqForms-Container .pt14{padding-top:14px!important;}.LiqForms-Container .pt16{padding-top:16px!important;}.LiqForms-Container .pt18{padding-top:18px!important;}.LiqForms-Container .pt20{padding-top:20px!important;}.LiqForms-Container .pt22{padding-top:22px!important;}.LiqForms-Container .pt24{padding-top:24px!important;}.LiqForms-Container .pt26{padding-top:26px!important;}.LiqForms-Container .pt28{padding-top:28px!important;}.LiqForms-Container .pt30{padding-top:30px!important;}.LiqForms-Container .pb1{padding-bottom:1px!important;}.LiqForms-Container .pb2{padding-bottom:2px!important;}.LiqForms-Container .pb3{padding-bottom:3px!important;}.LiqForms-Container .pb4{padding-bottom:4px!important;}.LiqForms-Container .pb5{padding-bottom:5px!important;}.LiqForms-Container .pb6{padding-bottom:6px!important;}.LiqForms-Container .pb7{padding-bottom:7px!important;}.LiqForms-Container .pb8{padding-bottom:8px!important;}.LiqForms-Container .pb9{padding-bottom:9px!important;}.LiqForms-Container .pb10{padding-bottom:10px!important;}.LiqForms-Container .pb12{padding-bottom:12px!important;}.LiqForms-Container .pb14{padding-bottom:14px!important;}.LiqForms-Container .pb16{padding-bottom:16px!important;}.LiqForms-Container .pb18{padding-bottom:18px!important;}.LiqForms-Container .pb20{padding-bottom:20px!important;}.LiqForms-Container .pb22{padding-bottom:22px!important;}.LiqForms-Container .pb24{padding-bottom:24px!important;}.LiqForms-Container .pb26{padding-bottom:26px!important;}.LiqForms-Container .pb28{padding-bottom:28px!important;}.LiqForms-Container .pb30{padding-bottom:30px!important;}.LiqForms-Container .pl1{padding-left:1px!important;}.LiqForms-Container .pl2{padding-left:2px!important;}.LiqForms-Container .pl3{padding-left:3px!important;}.LiqForms-Container .pl4{padding-left:4px!important;}.LiqForms-Container .pl5{padding-left:5px!important;}.LiqForms-Container .pl6{padding-left:6px!important;}.LiqForms-Container .pl7{padding-left:7px!important;}.LiqForms-Container .pl8{padding-left:8px!important;}.LiqForms-Container .pl9{padding-left:9px!important;}.LiqForms-Container .pl10{padding-left:10px!important;}.LiqForms-Container .pl12{padding-left:12px!important;}.LiqForms-Container .pl14{padding-left:14px!important;}.LiqForms-Container .pl16{padding-left:16px!important;}.LiqForms-Container .pl18{padding-left:18px!important;}.LiqForms-Container .pl20{padding-left:20px!important;}.LiqForms-Container .pl22{padding-left:22px!important;}.LiqForms-Container .pl24{padding-left:24px!important;}.LiqForms-Container .pl26{padding-left:26px!important;}.LiqForms-Container .pl28{padding-left:28px!important;}.LiqForms-Container .pl30{padding-left:30px!important;}.LiqForms-Container .pr1{padding-right:1px!important;}.LiqForms-Container .pr2{padding-right:2px!important;}.LiqForms-Container .pr3{padding-right:3px!important;}.LiqForms-Container .pr4{padding-right:4px!important;}.LiqForms-Container .pr5{padding-right:5px!important;}.LiqForms-Container .pr6{padding-right:6px!important;}.LiqForms-Container .pr7{padding-right:7px!important;}.LiqForms-Container .pr8{padding-right:8px!important;}.LiqForms-Container .pr9{padding-right:9px!important;}.LiqForms-Container .pr10{padding-right:10px!important;}.LiqForms-Container .pr12{padding-right:12px!important;}.LiqForms-Container .pr14{padding-right:14px!important;}.LiqForms-Container .pr16{padding-right:16px!important;}.LiqForms-Container .pr18{padding-right:18px!important;}.LiqForms-Container .pr20{padding-right:20px!important;}.LiqForms-Container .pr22{padding-right:22px!important;}.LiqForms-Container .pr24{padding-right:24px!important;}.LiqForms-Container .pr26{padding-right:26px!important;}.LiqForms-Container .pr28{padding-right:28px!important;}.LiqForms-Container .pr30{padding-right:30px!important;}.LiqForms-Container .m1{margin:1px!important;}.LiqForms-Container .m2{margin:2px!important;}.LiqForms-Container .m3{margin:3px!important;}.LiqForms-Container .m4{margin:4px!important;}.LiqForms-Container .m5{margin:5px!important;}.LiqForms-Container .m6{margin:6px!important;}.LiqForms-Container .m7{margin:7px!important;}.LiqForms-Container .m8{margin:8px!important;}.LiqForms-Container .m9{margin:9px!important;}.LiqForms-Container .m10{margin:10px!important;}.LiqForms-Container .mt1{margin-top:1px!important;}.LiqForms-Container .mt2{margin-top:2px!important;}.LiqForms-Container .mt3{margin-top:3px!important;}.LiqForms-Container .mt4{margin-top:4px!important;}.LiqForms-Container .mt5{margin-top:5px!important;}.LiqForms-Container .mt6{margin-top:6px!important;}.LiqForms-Container .mt7{margin-top:7px!important;}.LiqForms-Container .mt8{margin-top:8px!important;}.LiqForms-Container .mt9{margin-top:9px!important;}.LiqForms-Container .mt10{margin-top:10px!important;}.LiqForms-Container .mt12{margin-top:12px!important;}.LiqForms-Container .mt14{margin-top:14px!important;}.LiqForms-Container .mt16{margin-top:16px!important;}.LiqForms-Container .mt18{margin-top:18px!important;}.LiqForms-Container .mt20{margin-top:20px!important;}.LiqForms-Container .mt22{margin-top:22px!important;}.LiqForms-Container .mt24{margin-top:24px!important;}.LiqForms-Container .mt26{margin-top:26px!important;}.LiqForms-Container .mt28{margin-top:28px!important;}.LiqForms-Container .mt30{margin-top:30px!important;}.LiqForms-Container .mb1{margin-bottom:1px!important;}.LiqForms-Container .mb2{margin-bottom:2px!important;}.LiqForms-Container .mb3{margin-bottom:3px!important;}.LiqForms-Container .mb4{margin-bottom:4px!important;}.LiqForms-Container .mb5{margin-bottom:5px!important;}.LiqForms-Container .mb6{margin-bottom:6px!important;}.LiqForms-Container .mb7{margin-bottom:7px!important;}.LiqForms-Container .mb8{margin-bottom:8px!important;}.LiqForms-Container .mb9{margin-bottom:9px!important;}.LiqForms-Container .mb10{margin-bottom:10px!important;}.LiqForms-Container .mb12{margin-bottom:12px!important;}.LiqForms-Container .mb14{margin-bottom:14px!important;}.LiqForms-Container .mb16{margin-bottom:16px!important;}.LiqForms-Container .mb18{margin-bottom:18px!important;}.LiqForms-Container .mb20{margin-bottom:20px!important;}.LiqForms-Container .mb22{margin-bottom:22px!important;}.LiqForms-Container .mb24{margin-bottom:24px!important;}.LiqForms-Container .mb26{margin-bottom:26px!important;}.LiqForms-Container .mb28{margin-bottom:28px!important;}.LiqForms-Container .mb30{margin-bottom:30px!important;}.LiqForms-Container .ml1{margin-left:1px!important;}.LiqForms-Container .ml2{margin-left:2px!important;}.LiqForms-Container .ml3{margin-left:3px!important;}.LiqForms-Container .ml4{margin-left:4px!important;}.LiqForms-Container .ml5{margin-left:5px!important;}.LiqForms-Container .ml6{margin-left:6px!important;}.LiqForms-Container .ml7{margin-left:7px!important;}.LiqForms-Container .ml8{margin-left:8px!important;}.LiqForms-Container .ml9{margin-left:9px!important;}.LiqForms-Container .ml10{margin-left:10px!important;}.LiqForms-Container .ml12{margin-left:12px!important;}.LiqForms-Container .ml14{margin-left:14px!important;}.LiqForms-Container .ml16{margin-left:16px!important;}.LiqForms-Container .ml18{margin-left:18px!important;}.LiqForms-Container .ml20{margin-left:20px!important;}.LiqForms-Container .ml22{margin-left:22px!important;}.LiqForms-Container .ml24{margin-left:24px!important;}.LiqForms-Container .ml26{margin-left:26px!important;}.LiqForms-Container .ml28{margin-left:28px!important;}.LiqForms-Container .ml30{margin-left:30px!important;}.LiqForms-Container .mr1{margin-right:1px!important;}.LiqForms-Container .mr2{margin-right:2px!important;}.LiqForms-Container .mr3{margin-right:3px!important;}.LiqForms-Container .mr4{margin-right:4px!important;}.LiqForms-Container .mr5{margin-right:5px!important;}.LiqForms-Container .mr6{margin-right:6px!important;}.LiqForms-Container .mr7{margin-right:7px!important;}.LiqForms-Container .mr8{margin-right:8px!important;}.LiqForms-Container .mr9{margin-right:9px!important;}.LiqForms-Container .mr10{margin-right:10px!important;}.LiqForms-Container .mr12{margin-right:12px!important;}.LiqForms-Container .mr14{margin-right:14px!important;}.LiqForms-Container .mr16{margin-right:16px!important;}.LiqForms-Container .mr18{margin-right:18px!important;}.LiqForms-Container .mr20{margin-right:20px!important;}.LiqForms-Container .mr22{margin-right:22px!important;}.LiqForms-Container .mr24{margin-right:24px!important;}.LiqForms-Container .mr26{margin-right:26px!important;}.LiqForms-Container .mr28{margin-right:28px!important;}.LiqForms-Container .mr30{margin-right:30px!important;}
.LiqForms-Container .w100 {width:100%;min-height:1px;display:block;}.LiqForms-Container .w98{width:98%;min-height:1px;display:block;}.LiqForms-Container .w96{width:96%;min-height:1px;display:block;}.LiqForms-Container .w94{width:94%;min-height:1px;display:block;}.LiqForms-Container .w92{width:92%;min-height:1px;display:block;}.LiqForms-Container .w90{width:90%;min-height:1px;display:block;}.LiqForms-Container .w88{width:88%;min-height:1px;display:block;}.LiqForms-Container .w86{width:96%;min-height:1px;display:block;}.LiqForms-Container .w84{width:84%;min-height:1px;display:block;}.LiqForms-Container .w82{width:82%;min-height:1px;display:block;}.LiqForms-Container .w80{width:80%;min-height:1px;display:block;}.LiqForms-Container .w78{width:78%;min-height:1px;display:block;}.LiqForms-Container .w76{width:76%;min-height:1px;display:block;}.LiqForms-Container .w74{width:74%;min-height:1px;display:block;}.LiqForms-Container .w72{width:72%;min-height:1px;display:block;}.LiqForms-Container .w70{width:70%;min-height:1px;display:block;}.LiqForms-Container .w68{width:68%;min-height:1px;display:block;}.LiqForms-Container .w66{width:66%;min-height:1px;display:block;}.LiqForms-Container .w64{width:64%;min-height:1px;display:block;}.LiqForms-Container .w62{width:62%;min-height:1px;display:block;}.LiqForms-Container .w60{width:60%;min-height:1px;display:block;}.LiqForms-Container .w58{width:58%;min-height:1px;display:block;}.LiqForms-Container .w56{width:56%;min-height:1px;display:block;}.LiqForms-Container .w54{width:54%;min-height:1px;display:block;}.LiqForms-Container .w52{width:52%;min-height:1px;display:block;}.LiqForms-Container .w50{width:50%;min-height:1px;display:block;}.LiqForms-Container .w48{width:48%;min-height:1px;display:block;}.LiqForms-Container .w46{width:46%;min-height:1px;display:block;}.LiqForms-Container .w44{width:44%;min-height:1px;display:block;}.LiqForms-Container .w42{width:42%;min-height:1px;display:block;}.LiqForms-Container .w40{width:40%;min-height:1px;display:block;}.LiqForms-Container .w38{width:38%;min-height:1px;display:block;}.LiqForms-Container .w36{width:36%;min-height:1px;display:block;}.LiqForms-Container .w34{width:34%;min-height:1px;display:block;}.LiqForms-Container .w32{width:32%;min-height:1px;display:block;}.LiqForms-Container .w30{width:30%;min-height:1px;display:block;}.LiqForms-Container .w28{width:28%;min-height:1px;display:block;}.LiqForms-Container .w26{width:26%;min-height:1px;display:block;}.LiqForms-Container .w24{width:24%;min-height:1px;display:block;}.LiqForms-Container .w22{width:22%;min-height:1px;display:block;}.LiqForms-Container .w20{width:20%;min-height:1px;display:block;}.LiqForms-Container .w18{width:18%;min-height:1px;display:block;}.LiqForms-Container .w16{width:16%;min-height:1px;display:block;}.LiqForms-Container .w14{width:14%;min-height:1px;display:block;}.LiqForms-Container .w12{width:12%;min-height:1px;display:block;}.LiqForms-Container .w10{width:10%;min-height:1px;display:block;position: relative;}.LiqForms-Container .w8{width:8%;min-height:1px;display:block;}.LiqForms-Container .w6{width:6%;min-height:1px;display:block;}.LiqForms-Container .w4{width:4%;min-height:1px;display:block;}.LiqForms-Container .w2{width:2%;min-height:1px;display:block;}.LiqForms-Container .wd200 {width:200px;min-height:1px;display:block;}.LiqForms-Container .wd198 {width:198px;min-height:1px;display:block;}.LiqForms-Container .wd196 {width:196px;min-height:1px;display:block;}.LiqForms-Container .wd194 {width:194px;min-height:1px;display:block;}.LiqForms-Container .wd192 {width:192px;min-height:1px;display:block;}.LiqForms-Container .wd190 {width:190px;min-height:1px;display:block;}.LiqForms-Container .wd188 {width:188px;min-height:1px;display:block;}.LiqForms-Container .wd186 {width:186px;min-height:1px;display:block;}.LiqForms-Container .wd184 {width:184px;min-height:1px;display:block;}.LiqForms-Container .wd182 {width:182px;min-height:1px;display:block;}.LiqForms-Container .wd180 {width:180px;min-height:1px;display:block;}.LiqForms-Container .wd178 {width:178px;min-height:1px;display:block;}.LiqForms-Container .wd176 {width:176px;min-height:1px;display:block;}.LiqForms-Container .wd174 {width:174px;min-height:1px;display:block;}.LiqForms-Container .wd172 {width:172px;min-height:1px;display:block;}.LiqForms-Container .wd170 {width:170px;min-height:1px;display:block;}.LiqForms-Container .wd168 {width:168px;min-height:1px;display:block;}.LiqForms-Container .wd166 {width:166px;min-height:1px;display:block;}.LiqForms-Container .wd164 {width:164px;min-height:1px;display:block;}.LiqForms-Container .wd162 {width:162px;min-height:1px;display:block;}.LiqForms-Container .wd160 {width:160px;min-height:1px;display:block;}.LiqForms-Container .wd158 {width:158px;min-height:1px;display:block;}.LiqForms-Container .wd156 {width:156px;min-height:1px;display:block;}.LiqForms-Container .wd154 {width:154px;min-height:1px;display:block;}.LiqForms-Container .wd152 {width:152px;min-height:1px;display:block;}.LiqForms-Container .wd150 {width:150px;min-height:1px;display:block;}.LiqForms-Container .wd148 {width:148px;min-height:1px;display:block;}.LiqForms-Container .wd146 {width:146px;min-height:1px;display:block;}.LiqForms-Container .wd144 {width:144px;min-height:1px;display:block;}.LiqForms-Container .wd142 {width:142px;min-height:1px;display:block;}.LiqForms-Container .wd140 {width:140px;min-height:1px;display:block;}.LiqForms-Container .wd138 {width:138px;min-height:1px;display:block;}.LiqForms-Container .wd136 {width:136px;min-height:1px;display:block;}.LiqForms-Container .wd134 {width:134px;min-height:1px;display:block;}.LiqForms-Container .wd132 {width:132px;min-height:1px;display:block;}.LiqForms-Container .wd130 {width:130px;min-height:1px;display:block;}.LiqForms-Container .wd128 {width:128px;min-height:1px;display:block;}.LiqForms-Container .wd126 {width:126px;min-height:1px;display:block;}.LiqForms-Container .wd124 {width:124px;min-height:1px;display:block;}.LiqForms-Container .wd122 {width:122px;min-height:1px;display:block;}.LiqForms-Container .wd120 {width:120px;min-height:1px;display:block;}.LiqForms-Container .wd118 {width:118px;min-height:1px;display:block;}.LiqForms-Container .wd116 {width:116px;min-height:1px;display:block;}.LiqForms-Container .wd114 {width:114px;min-height:1px;display:block;}.LiqForms-Container .wd112 {width:112px;min-height:1px;display:block;}.LiqForms-Container .wd110 {width:110px;min-height:1px;display:block;}.LiqForms-Container .wd108 {width:108px;min-height:1px;display:block;}.LiqForms-Container .wd106 {width:106px;min-height:1px;display:block;}.LiqForms-Container .wd104 {width:104px;min-height:1px;display:block;}.LiqForms-Container .wd102 {width:102px;min-height:1px;display:block;}.LiqForms-Container .wd100 {width:100px;min-height:1px;display:block;}.LiqForms-Container .wd98{width:98px;min-height:1px;display:block;}.LiqForms-Container .wd96{width:96px;min-height:1px;display:block;}.LiqForms-Container .wd94{width:94px;min-height:1px;display:block;}.LiqForms-Container .wd92{width:92px;min-height:1px;display:block;}.LiqForms-Container .wd90{width:90px;min-height:1px;display:block;}.LiqForms-Container .wd88{width:88px;min-height:1px;display:block;}.LiqForms-Container .wd86{width:96px;min-height:1px;display:block;}.LiqForms-Container .wd84{width:84px;min-height:1px;display:block;}.LiqForms-Container .wd82{width:82px;min-height:1px;display:block;}.LiqForms-Container .wd80{width:80px;min-height:1px;display:block;}.LiqForms-Container .wd78{width:78px;min-height:1px;display:block;}.LiqForms-Container .wd76{width:76px;min-height:1px;display:block;}.LiqForms-Container .wd74{width:74px;min-height:1px;display:block;}.LiqForms-Container .wd72{width:72px;min-height:1px;display:block;}.LiqForms-Container .wd70{width:70px;min-height:1px;display:block;}.LiqForms-Container .wd68{width:68px;min-height:1px;display:block;}.LiqForms-Container .wd66{width:66px;min-height:1px;display:block;}.LiqForms-Container .wd64{width:64px;min-height:1px;display:block;}.LiqForms-Container .wd62{width:62px;min-height:1px;display:block;}.LiqForms-Container .wd60{width:60px;min-height:1px;display:block;}.LiqForms-Container .wd58{width:58px;min-height:1px;display:block;}.LiqForms-Container .wd56{width:56px;min-height:1px;display:block;}.LiqForms-Container .wd54{width:54px;min-height:1px;display:block;}.LiqForms-Container .wd52{width:52px;min-height:1px;display:block;}.LiqForms-Container .wd50{width:50px;min-height:1px;display:block;}.LiqForms-Container .wd48{width:48px;min-height:1px;display:block;}.LiqForms-Container .wd46{width:46px;min-height:1px;display:block;}.LiqForms-Container .wd44{width:44px;min-height:1px;display:block;}.LiqForms-Container .wd42{width:42px;min-height:1px;display:block;}.LiqForms-Container .wd40{width:40px;min-height:1px;display:block;}.LiqForms-Container .wd38{width:38px;min-height:1px;display:block;}.LiqForms-Container .wd36{width:36px;min-height:1px;display:block;}.LiqForms-Container .wd34{width:34px;min-height:1px;display:block;}.LiqForms-Container .wd32{width:32px;min-height:1px;display:block;}.LiqForms-Container .wd30{width:30px;min-height:1px;display:block;}.LiqForms-Container .wd28{width:28px;min-height:1px;display:block;}.LiqForms-Container .wd26{width:26px;min-height:1px;display:block;}.LiqForms-Container .wd24{width:24px;min-height:1px;display:block;}.LiqForms-Container .wd22{width:22px;min-height:1px;display:block;}.LiqForms-Container .wd20{width:20px;min-height:1px;display:block;}.LiqForms-Container .wd18{width:18px;min-height:1px;display:block;}.LiqForms-Container .wd16{width:16px;min-height:1px;display:block;}.LiqForms-Container .wd14{width:14px;min-height:1px;display:block;}.LiqForms-Container .wd12{width:12px;min-height:1px;display:block;}.LiqForms-Container .wd10{width:10px;min-height:1px;display:block;}.LiqForms-Container .wd8{width:8px;min-height:1px;display:block;}.LiqForms-Container .wd6{width:6px;min-height:1px;display:block;}.LiqForms-Container .wd4{width:4px;min-height:1px;display:block;}.LiqForms-Container .wd2{width:2px;min-height:1px;display:block;}
.LiqForms-Container .w {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}
.h1{height: 1px;}.h2{height: 2px;}.h4{height: 4px;}.h6{height: 6px;}.h8{height: 8px;}.h10{height: 10px;}.h12{height: 12px;}.h14{height: 14px;}.h16{height: 16px;}.h18{height: 18px;}.h20{height: 20px;}.h22{height: 22px;}.h24{height: 24px;}.h26{height: 26px;}.h28{height: 28px;}.h30{height: 30px;}

.LiqForms-Container .bn {border:none;}
.LiqForms-Container .row {display: flex;}
.LiqForms-Container .nowrap {flex-wrap: nowrap;}
.LiqForms-Container .wrap {flex-wrap: wrap;}
.LiqForms-Container .justify-center {justify-content: center;}
.LiqForms-Container .justify-start {justify-content: flex-start;}
.LiqForms-Container .justify-end {justify-content: flex-end;}
.LiqForms-Container .justify-between {justify-content: space-between;}
.LiqForms-Container .justify-around {justify-content: space-around;}
.LiqForms-Container .align-center {align-content:center;align-items:center;}
.LiqForms-Container .align-start {align-content: flex-start;align-items:flex-start;}
.LiqForms-Container .align-end {align-content: flex-end;align-items:flex-end;}
.LiqForms-Container .textCenter {
	text-align: center;
}
.LiqForms-Container .italic {
	font-style: italic;
}
.LiqForms-Container .MainTable {
	width:770px;
    min-height: 100vh;
    overflow: hidden;
	border: none;
	margin: auto;
	padding:10px;
	background:white;
    position: relative;
}
.LiqForms-Container .SecondMainTable {
	width:100%;
	margin: auto;
	border:none;
}
.LiqForms-Container .TGSLogoSVG {
    width: 80px;
    height: 80px;
    border-radius: 0px;
}
.LiqForms-Container .TGSLogoSVGBook {
    width: 400px;
    height: 400px;
    border-radius: 0px;
    margin-top: 150px;
}
.LiqForms-Container .TGSLogo {
	background: url("../assets/TGS_Logo2.svg") no-repeat center center;
	background-size: auto 100%;
	width: 80px;
	height: 80px;
	display: block;
}
.LiqForms-Container .PreEmploymentFile {
	font-size: 20px;
	color: green;
	border: solid 2px green;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 20px;
}
.LiqForms-Container .FormPagi {
    position: fixed;
    right: 2.3vw;
    top: 250px;
}
.LiqForms-Container .FormPagi ul {
    padding: 0px;
    margin: 0px;
}
.LiqForms-Container .FormPagi ul li {
    margin: 10px 0;
}
.LiqForms-Container .FormPagi ul li a{
    background: #e1e6eb;
    color: #a2a5b3;
    font-size: 10px;
    width:20px;
    height: 20px;
    padding: 0px !important;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
}
.LiqForms-Container .FormPagi ul li a:hover{
    background: #FFF;
    color: #a2a5b3;
}
.LiqForms-Container .FormPagi ul li.Active a{
    background: #2963AD;
    color: #FFF;
}
.LiqForms-Container .FormPagi ul li.ActiveComplete a{
    background: #00b32d;
    color: #FFF;
}
.LiqForms-Container .underLine {
    text-decoration: underline;
}
.LiqForms-Container .ListBullet ul li {
    position: relative;
}
.LiqForms-Container .ListBullet ul li::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 20px;
    position: absolute;
    left: 0px;
}
.LiqForms-Container .personalFile {
    display: flex;
    justify-content: flex-end;
}
.LiqForms-Container .personalFile span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 16px;
    color: rgb(38, 196, 38);
    border: solid 2px rgb(38, 196, 38);
    display: block;
    padding: 15px 10px;
    border-radius: 10px;
}
.LiqForms-Container .psvch {
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.LiqForms-Container .pageBreak {
    border-top: dotted 1px white;
}
.LiqForms-Container .pageBreak a {
    text-decoration: none;
    color: black;
}
.LiqForms-Container .Acknowledge {
    background: #2963AD;
    color: white;
    padding: 8px 30px !important;
    display: flex;
    justify-content: space-between;
}
.LiqForms-Container .Acknowledge Button.AcknowledgeBtn {
    background: #19437a;
    color: white;
    padding: 6px 30px;
    transition: all 0.5s ease-in-out !important;
}
.LiqForms-Container .Acknowledge Button.AcknowledgeBtn:hover {
    background: #2963AD;
    color: #FFFFFF;
    padding: 6px 30px;
}
.LiqForms-Container .Acknowledge .FormMenuLogo {
    background: url(../assets/TGS_Logo.svg) no-repeat center center transparent;
    background-size: auto 80%;
    width: 40px;
    height: 40px;
}
.LiqForms-Container .Acknowledge ul {
    display: flex;
}
.LiqForms-Container .Acknowledge Button {
    background: #19437a;
    color: white;
    padding: 10px 0px;
    transition: all 0.5s ease-in-out !important;
    min-width: 40px !important;
}
.LiqForms-Container .PageLIstLine span {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border-bottom: dotted 2px #000000;
    height: 11px;
    margin: 0 10px;
}
.LiqForms-Container .SignatureImage {
    background: url(../assets/sig.jpg) no-repeat left center transparent;
    background-size: auto 60px;
    height: 60px;
}
.PageNum {
    width: 95%;
    height: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: black;
    font-size: 12px;
}
.textJustify {
    text-align: justify !important;
}

.reactDatePicker{
    margin-left: 40px !important;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none!important;
}

.p-2 {
    padding: 0.5rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.m-0 {
    margin: 0px!important;
}

.react-date-picker > div {
    border: none!important;
    border: none!important;
    border-radius: 5px!important;
    box-shadow: 1px 2px 5px -2px #555!important;
    padding: 0.5rem!important;
}

.bg-white {
    background-color: #fff;
}
  

.task-done::before {
    content: '';
    display: block;
    width: 160px;
    height: 160px;
    margin: 0px;
    background: url(../assets/TickDoneIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}

.d-flex {
    display: flex!important;
}

.align-self-end {
    align-self: end;
}

.align-self-stretch {
    align-self: stretch;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

span.ElectricalSafetyImage {
    background: url(../assets/pdfElectricalImage.jpg) no-repeat right center;
    background-size: 100%;
    display: inline-block;
    width: 90%;
    height: 200px;
}
arrow {
    background: url(../assets/arow.svg) no-repeat center 3px;
    background-size: 15px;
    width: 20px;
    height: 16px;
    margin-left: 10px;
    display: inline-block;
}
span.MachineImage {
    background: url(../assets/pdfMachineImage.jpg) no-repeat left center;
    background-size: 100%;
    display: inline-block;
    width: 60%;
    height: 120px;
}
span.BackInjuries {
    background: url(../assets/pdfBackInjuries.jpg) no-repeat left center;
    background-size: 100%;
    display: inline-block;
    width: 100%;
    height: 230px;
}
span.ParcelImage {
    background: url(../assets/pdfParcelImage.jpg) no-repeat left center;
    background-size: 100%;
    display: inline-block;
    width: 100%;
    height: 150px;
}
span.ExpresslyProhibited {
    background: url(../assets/pdfExpresslyProhibited.jpg) no-repeat left center;
    background-size: 100%;
    display: inline-block;
    width: 200px;
    height: 350px;
}
span.CorrosiveDangerous {
    background: url(../assets/pdfCorrosiveDangerous.jpg) no-repeat right center;
    background-size: 100%;
    display: inline-block;
    width: 100%;
    height: 350px;
}
SPAN.FirstaID {
    background: url(../assets/pdfFirstAid.jpg) no-repeat right center;
    background-size: 100%;
    display: block;
    width: 140PX;
    height: 150px;
}
span.Biohazard {
    background: url(../assets/pdfBiohazard.jpg) no-repeat right center;
    background-size: 100%;
    display: block;
    width: 80%;
    height: 350px;
}
span.Injury {
    background: url(../assets/pdfInjury.jpg) no-repeat right center;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 140px;
}
span.InjuryTretment {
    background: url(../assets/pdfInjuryTretment.jpg) no-repeat left center;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 140px;
}
span.TrunOnMachine {
    background: url(../assets/pdfTrunOnMachine.jpg) no-repeat left center;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 210px;
}
span.FireSafety {
    background: url(../assets/pdfFireSafety.jpg) no-repeat right center;
    background-size: 90%;
    display: block;
    width: 100%;
    height: 210px;
}
span.passMethod {
    background: url(../assets/pdfPassMethod.jpg) no-repeat right center;
    background-size: 90%;
    display: block;
    width: 100%;
    height: 210px;
}
span.weldingCutting {
    background: url(../assets/pdfWeldingCutting.jpg) no-repeat right center;
    background-size: 90%;
    display: block;
    width: 100%;
    height: 140px;
}

@keyframes incorrect-field-ux {
    0% {
        box-shadow: 1px 1px 0px -1px red;
    }
    60% {
        box-shadow: 1px 1px 13px -1px red;
    }
    80% {
        box-shadow: 1px 1px 13px -1px red;
    }
    100% {
        box-shadow: 1px 1px 0px -1px red;
    }
}

.incorrect-field {
    animation: incorrect-field-ux;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.mt-0 {
    margin-top: 0px!Important;
}