html,body {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    background: #F6F6F6;
}
.BrandLogo {
    display: block;
    width: 100%;
    height: 85px;
    background: url(../assets/TGS_Logo.svg) no-repeat center center transparent;
    background-size: auto 82px;
    margin: 0px 0 30px 0;
}
.bold {
    font-weight: bold !important;
}
.mbold {font-weight: 600 !important;}
.LeftContol {
    min-width: 175px;
    background: #2963AD;
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
}
.w100p{width:100%;}.w1{width:1px;}.w2{width:2px;}.w4{width:4px;}.w6{width:6px;}.w8{width:8px;}.w10{width:10px;}.w12{width:12px;}.w14{width:14px;}.w16{width:16px;}.w18{width:18px;}.w20{width:20px;}.w22{width:22px;}.w24{width:24px;}.w26{width:26px;}.w28{width:28px;}.w30{width:30px;}.w32{width:32px;}.w34{width:34px;}.w36{width:36px;}.w38{width:38px;}.w40{width:40px;}.w42{width:42px;}.w44{width:44px;}.w46{width:46px;}.w48{width:48px;}.w50{width:50px;}.w52{width:52px;}.w54{width:54px;}.w56{width:56px;}.w58{width:58px;}.w60{width:60px;}.w62{width:62px;}.w64{width:64px;}.w66{width:66px;}.w68{width:68px;}.w70{width:70px;}.w72{width:72px;}.w74{width:74px;}.w76{width:76px;}.w78{width:78px;}.w80{width:80px;}.w82{width:82px;}.w84{width:84px;}.w86{width:86px;}.w88{width:88px;}.w90{width:90px;}.w92{width:92px;}.w94{width:94px;}.w96{width:96px;}.w98{width:98px;}.w100{width:100px;}.w102{width:102px;}.w104{width:104px;}.w106{width:106px;}.w108{width:108px;}.w110{width:110px;}.w112{width:112px;}.w114{width:114px;}.w116{width:116px;}.w118{width:118px;}.w120{width:120px;}.w122{width:122px;}.w124{width:124px;}.w126{width:126px;}.w128{width:128px;}.w130{width:130px;}.w132{width:132px;}.w134{width:134px;}.w136{width:136px;}.w138{width:138px;}.w140{width:140px;}.w142{width:142px;}.w144{width:144px;}.w146{width:146px;}.w148{width:148px;}.w150{width:150px;}.w152{width:152px;}.w154{width:154px;}.w156{width:156px;}.w158{width:158px;}.w160{width:160px;}.w162{width:162px;}.w164{width:164px;}.w166{width:166px;}.w168{width:168px;}.w170{width:170px;}.w172{width:172px;}.w174{width:174px;}.w176{width:176px;}.w178{width:178px;}.w180{width:180px;}.w182{width:182px;}.w184{width:184px;}.w186{width:186px;}.w188{width:188px;}.w190{width:190px;}.w192{width:192px;}.w194{width:194px;}.w196{width:196px;}.w198{width:198px;}.w200{width:200px;}.w202{width:202px;}.w204{width:204px;}.w206{width:206px;}.w208{width:208px;}.w210{width:210px;}.w212{width:212px;}.w214{width:214px;}.w216{width:216px;}.w218{width:218px;}.w220{width:220px;}.w222{width:222px;}.w224{width:224px;}.w226{width:226px;}.w228{width:228px;}.w230{width:230px;}.w232{width:232px;}.w234{width:234px;}.w236{width:236px;}.w238{width:238px;}.w240{width:240px;}.w242{width:242px;}.w244{width:244px;}.w246{width:246px;}.w248{width:248px;}.w250{width:250px;}.w252{width:252px;}.w254{width:254px;}.w256{width:256px;}.w258{width:258px;}.w260{width:260px;}.w262{width:262px;}.w264{width:264px;}.w266{width:266px;}.w268{width:268px;}.w270{width:270px;}.w272{width:272px;}.w274{width:274px;}.w276{width:276px;}.w278{width:278px;}.w280{width:280px;}.w282{width:282px;}.w284{width:284px;}.w286{width:286px;}.w288{width:288px;}.w290{width:290px;}.w292{width:292px;}.w294{width:294px;}.w296{width:296px;}.w298{width:298px;}.w300{width:300px;}.m0{margin:0px!important;}.m2{margin:2px!important;}.m4{margin:4px!important;}.m6{margin:6px!important;}.m8{margin:8px!important;}.m10{margin:10px!important;}.m12{margin:12px!important;}.m14{margin:14px!important;}.m16{margin:16px!important;}.m18{margin:18px!important;}.m20{margin:20px!important;}.m22{margin:22px!important;}.m24{margin:24px!important;}.m26{margin:26px!important;}.m28{margin:28px!important;}.m30{margin:30px!important;}.m32{margin:32px!important;}.m34{margin:34px!important;}.m36{margin:36px!important;}.m38{margin:38px!important;}.m40{margin:40px!important;}.m42{margin:42px!important;}.m44{margin:44px!important;}.m46{margin:46px!important;}.m48{margin:48px!important;}.m50{margin:50px!important;}.m55{margin:55px!important;}.m60{margin:60px!important;}.m65{margin:65px!important;}.m70{margin:70px!important;}.m75{margin:75px!important;}.m80{margin:80px!important;}.m85{margin:85px!important;}.m90{margin:90px!important;}.m95{margin:95px!important;}.m100{margin:100px!important;}.mt0{margin-top:0px!important;}.mt2{margin-top:2px!important;}.mt4{margin-top:4px!important;}.mt6{margin-top:6px!important;}.mt8{margin-top:8px!important;}.mt10{margin-top:10px!important;}.mt12{margin-top:12px!important;}.mt14{margin-top:14px!important;}.mt16{margin-top:16px!important;}.mt18{margin-top:18px!important;}.mt20{margin-top:20px!important;}.mt22{margin-top:22px!important;}.mt24{margin-top:24px!important;}.mt26{margin-top:26px!important;}.mt28{margin-top:28px!important;}.mt30{margin-top:30px!important;}.mt32{margin-top:32px!important;}.mt34{margin-top:34px!important;}.mt36{margin-top:36px!important;}.mt38{margin-top:38px!important;}.mt40{margin-top:40px!important;}.mt42{margin-top:42px!important;}.mt44{margin-top:44px!important;}.mt46{margin-top:46px!important;}.mt48{margin-top:48px!important;}.mt50{margin-top:50px!important;}.mt55{margin-top:55px!important;}.mt60{margin-top:60px!important;}.mt65{margin-top:65px!important;}.mt70{margin-top:70px!important;}.mt75{margin-top:75px!important;}.mt80{margin-top:80px!important;}.mt85{margin-top:85px!important;}.mt90{margin-top:90px!important;}.mt95{margin-top:95px!important;}.mt100{margin-top:100px!important;}.mb0{margin-bottom:0px!important;}.mb2{margin-bottom:2px!important;}.mb4{margin-bottom:4px!important;}.mb6{margin-bottom:6px!important;}.mb8{margin-bottom:8px!important;}.mb10{margin-bottom:10px!important;}.mb12{margin-bottom:12px!important;}.mb14{margin-bottom:14px!important;}.mb16{margin-bottom:16px!important;}.mb18{margin-bottom:18px!important;}.mb20{margin-bottom:20px!important;}.mb22{margin-bottom:22px!important;}.mb24{margin-bottom:24px!important;}.mb26{margin-bottom:26px!important;}.mb28{margin-bottom:28px!important;}.mb30{margin-bottom:30px!important;}.mb32{margin-bottom:32px!important;}.mb34{margin-bottom:34px!important;}.mb36{margin-bottom:36px!important;}.mb38{margin-bottom:38px!important;}.mb40{margin-bottom:40px!important;}.mb42{margin-bottom:42px!important;}.mb44{margin-bottom:44px!important;}.mb46{margin-bottom:46px!important;}.mb48{margin-bottom:48px!important;}.mb50{margin-bottom:50px!important;}.mb55{margin-bottom:55px!important;}.mb60{margin-bottom:60px!important;}.mb65{margin-bottom:65px!important;}.mb70{margin-bottom:70px!important;}.mb75{margin-bottom:75px!important;}.mb80{margin-bottom:80px!important;}.mb85{margin-bottom:85px!important;}.mb90{margin-bottom:90px!important;}.mb95{margin-bottom:95px!important;}.mb100{margin-bottom:100px!important;}.ml0{margin-left:0px!important;}.ml2{margin-left:2px!important;}.ml4{margin-left:4px!important;}.ml6{margin-left:6px!important;}.ml8{margin-left:8px!important;}.ml10{margin-left:10px!important;}.ml12{margin-left:12px!important;}.ml14{margin-left:14px!important;}.ml16{margin-left:16px!important;}.ml18{margin-left:18px!important;}.ml20{margin-left:20px!important;}.ml22{margin-left:22px!important;}.ml24{margin-left:24px!important;}.ml26{margin-left:26px!important;}.ml28{margin-left:28px!important;}.ml30{margin-left:30px!important;}.ml32{margin-left:32px!important;}.ml34{margin-left:34px!important;}.ml36{margin-left:36px!important;}.ml38{margin-left:38px!important;}.ml40{margin-left:40px!important;}.ml42{margin-left:42px!important;}.ml44{margin-left:44px!important;}.ml46{margin-left:46px!important;}.ml48{margin-left:48px!important;}.ml50{margin-left:50px!important;}.ml55{margin-left:55px!important;}.ml60{margin-left:60px!important;}.ml65{margin-left:65px!important;}.ml70{margin-left:70px!important;}.ml75{margin-left:75px!important;}.ml80{margin-left:80px!important;}.ml85{margin-left:85px!important;}.ml90{margin-left:90px!important;}.ml95{margin-left:95px!important;}.ml100{margin-left:100px!important;}.mr0{margin-right:0px!important;}.mr2{margin-right:2px!important;}.mr4{margin-right:4px!important;}.mr6{margin-right:6px!important;}.mr8{margin-right:8px!important;}.mr10{margin-right:10px!important;}.mr12{margin-right:12px!important;}.mr14{margin-right:14px!important;}.mr16{margin-right:16px!important;}.mr18{margin-right:18px!important;}.mr20{margin-right:20px!important;}.mr22{margin-right:22px!important;}.mr24{margin-right:24px!important;}.mr26{margin-right:26px!important;}.mr28{margin-right:28px!important;}.mr30{margin-right:30px!important;}.mr32{margin-right:32px!important;}.mr34{margin-right:34px!important;}.mr36{margin-right:36px!important;}.mr38{margin-right:38px!important;}.mr40{margin-right:40px!important;}.mr42{margin-right:42px!important;}.mr44{margin-right:44px!important;}.mr46{margin-right:46px!important;}.mr48{margin-right:48px!important;}.mr50{margin-right:50px!important;}.mr55{margin-right:55px!important;}.mr60{margin-right:60px!important;}.mr65{margin-right:65px!important;}.mr70{margin-right:70px!important;}.mr75{margin-right:75px!important;}.mr80{margin-right:80px!important;}.mr85{margin-right:85px!important;}.mr90{margin-right:90px!important;}.mr95{margin-right:95px!important;}.mr100{margin-right:100px!important;}.p0{padding:0px!important;}.p2{padding:2px!important;}.p4{padding:4px!important;}.p6{padding:6px!important;}.p8{padding:8px!important;}.p10{padding:10px!important;}.p12{padding:12px!important;}.p14{padding:14px!important;}.p16{padding:16px!important;}.p18{padding:18px!important;}.p20{padding:20px!important;}.p22{padding:22px!important;}.p24{padding:24px!important;}.p26{padding:26px!important;}.p28{padding:28px!important;}.p30{padding:30px!important;}.p32{padding:32px!important;}.p34{padding:34px!important;}.p36{padding:36px!important;}.p38{padding:38px!important;}.p40{padding:40px!important;}.p42{padding:42px!important;}.p44{padding:44px!important;}.p46{padding:46px!important;}.p48{padding:48px!important;}.p50{padding:50px!important;}.p55{padding:55px!important;}.p60{padding:60px!important;}.p65{padding:65px!important;}.p70{padding:70px!important;}.p75{padding:75px!important;}.p80{padding:80px!important;}.p85{padding:85px!important;}.p90{padding:90px!important;}.p95{padding:95px!important;}.p100{padding:100px!important;}.pt0{padding-top:0px!important;}.pt2{padding-top:2px!important;}.pt4{padding-top:4px!important;}.pt6{padding-top:6px!important;}.pt8{padding-top:8px!important;}.pt10{padding-top:10px!important;}.pt12{padding-top:12px!important;}.pt14{padding-top:14px!important;}.pt16{padding-top:16px!important;}.pt18{padding-top:18px!important;}.pt20{padding-top:20px!important;}.pt22{padding-top:22px!important;}.pt24{padding-top:24px!important;}.pt26{padding-top:26px!important;}.pt28{padding-top:28px!important;}.pt30{padding-top:30px!important;}.pt32{padding-top:32px!important;}.pt34{padding-top:34px!important;}.pt36{padding-top:36px!important;}.pt38{padding-top:38px!important;}.pt40{padding-top:40px!important;}.pt42{padding-top:42px!important;}.pt44{padding-top:44px!important;}.pt46{padding-top:46px!important;}.pt48{padding-top:48px!important;}.pt50{padding-top:50px!important;}.pt55{padding-top:55px!important;}.pt60{padding-top:60px!important;}.pt65{padding-top:65px!important;}.pt70{padding-top:70px!important;}.pt75{padding-top:75px!important;}.pt80{padding-top:80px!important;}.pt85{padding-top:85px!important;}.pt90{padding-top:90px!important;}.pt95{padding-top:95px!important;}.pt100{padding-top:100px!important;}.pb0{padding-bottom:0px!important;}.pb2{padding-bottom:2px!important;}.pb4{padding-bottom:4px!important;}.pb6{padding-bottom:6px!important;}.pb8{padding-bottom:8px!important;}.pb10{padding-bottom:10px!important;}.pb12{padding-bottom:12px!important;}.pb14{padding-bottom:14px!important;}.pb16{padding-bottom:16px!important;}.pb18{padding-bottom:18px!important;}.pb20{padding-bottom:20px!important;}.pb22{padding-bottom:22px!important;}.pb24{padding-bottom:24px!important;}.pb26{padding-bottom:26px!important;}.pb28{padding-bottom:28px!important;}.pb30{padding-bottom:30px!important;}.pb32{padding-bottom:32px!important;}.pb34{padding-bottom:34px!important;}.pb36{padding-bottom:36px!important;}.pb38{padding-bottom:38px!important;}.pb40{padding-bottom:40px!important;}.pb42{padding-bottom:42px!important;}.pb44{padding-bottom:44px!important;}.pb46{padding-bottom:46px!important;}.pb48{padding-bottom:48px!important;}.pb50{padding-bottom:50px!important;}.pb55{padding-bottom:55px!important;}.pb60{padding-bottom:60px!important;}.pb65{padding-bottom:65px!important;}.pb70{padding-bottom:70px!important;}.pb75{padding-bottom:75px!important;}.pb80{padding-bottom:80px!important;}.pb85{padding-bottom:85px!important;}.pb90{padding-bottom:90px!important;}.pb95{padding-bottom:95px!important;}.pb100{padding-bottom:100px!important;}.pl0{padding-left:0px!important;}.pl2{padding-left:2px!important;}.pl4{padding-left:4px!important;}.pl6{padding-left:6px!important;}.pl8{padding-left:8px!important;}.pl10{padding-left:10px!important;}.pl12{padding-left:12px!important;}.pl14{padding-left:14px!important;}.pl16{padding-left:16px!important;}.pl18{padding-left:18px!important;}.pl20{padding-left:20px!important;}.pl22{padding-left:22px!important;}.pl24{padding-left:24px!important;}.pl26{padding-left:26px!important;}.pl28{padding-left:28px!important;}.pl30{padding-left:30px!important;}.pl32{padding-left:32px!important;}.pl34{padding-left:34px!important;}.pl36{padding-left:36px!important;}.pl38{padding-left:38px!important;}.pl40{padding-left:40px!important;}.pl42{padding-left:42px!important;}.pl44{padding-left:44px!important;}.pl46{padding-left:46px!important;}.pl48{padding-left:48px!important;}.pl50{padding-left:50px!important;}.pl55{padding-left:55px!important;}.pl60{padding-left:60px!important;}.pl65{padding-left:65px!important;}.pl70{padding-left:70px!important;}.pl75{padding-left:75px!important;}.pl80{padding-left:80px!important;}.pl85{padding-left:85px!important;}.pl90{padding-left:90px!important;}.pl95{padding-left:95px!important;}.pl100{padding-left:100px!important;}.pr0{padding-right:0px!important;}.pr2{padding-right:2px!important;}.pr4{padding-right:4px!important;}.pr6{padding-right:6px!important;}.pr8{padding-right:8px!important;}.pr10{padding-right:10px!important;}.pr12{padding-right:12px!important;}.pr14{padding-right:14px!important;}.pr16{padding-right:16px!important;}.pr18{padding-right:18px!important;}.pr20{padding-right:20px!important;}.pr22{padding-right:22px!important;}.pr24{padding-right:24px!important;}.pr26{padding-right:26px!important;}.pr28{padding-right:28px!important;}.pr30{padding-right:30px!important;}.pr32{padding-right:32px!important;}.pr34{padding-right:34px!important;}.pr36{padding-right:36px!important;}.pr38{padding-right:38px!important;}.pr40{padding-right:40px!important;}.pr42{padding-right:42px!important;}.pr44{padding-right:44px!important;}.pr46{padding-right:46px!important;}.pr48{padding-right:48px!important;}.pr50{padding-right:50px!important;}.pr55{padding-right:55px!important;}.pr60{padding-right:60px!important;}.pr65{padding-right:65px!important;}.pr70{padding-right:70px!important;}.pr75{padding-right:75px!important;}.pr80{padding-right:80px!important;}.pr85{padding-right:85px!important;}.pr90{padding-right:90px!important;}.pr95{padding-right:95px!important;}.pr100{padding-right:100px!important;}
.f14{font-size:14px!important;}.f16{font-size:16px!important;}.f18{font-size:18px!important;}.f20{font-size:20px!important;}.f22{font-size:22px!important;}.f24{font-size:24px!important;}.f26{font-size:26px!important;}.f28{font-size:28px!important;}
.f30{font-size:30px!important;}
.LoginLogo {
    display: flex;
    width: 80px;
    height: 120px;
    background: url(../assets/TGS_Logo.svg) no-repeat center center;
    background-size: auto 80%;
    position: absolute;
    left: 15%;
    top: 8%;
}
.LoginText {
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 8%;
    left: 15%;
    line-height: 65px;
}
.LoginImageBG {
    width: 40%;
    height: 100vh;
    background: url(../assets/loginBGlight.jpg) no-repeat left top;
    background-size: cover;
    position: relative;
}
.LoginImage {
    width: 100%;
    height: 100vh;
    background: url(../assets/loginBG.jpg) no-repeat left top;
    background-size: cover;
}
.LoginFormPlace {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.LoginForm {
    width: 360px;
}
.FormFields .MuiFormControl-root {
    width: 100%;
    margin-top: 20px;
}
.LoginTitle {
    width: 100%;
    text-align: center;
    color: #3978BD;
    font-size: 30px;
    font-weight: 600;
}
.LoginCheckPlace {
    width: 50%;
}
.LoginForget {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    justify-items: flex-end;
    align-content: center;
    align-items: center;
    text-align: end;
}
.LoginBtn {
    width: 80px;
    background: #2963AD !important;
    color: white !important;
}
.LoginForm .MuiFormLabel-root.Mui-focused {
    color: #3978BD;
}
.LoginForm .MuiInput-underline::after {
    border-bottom: solid 2px #2963AD !important ;
}
.LoginForm a,
.LoginForm .MuiCheckbox-colorPrimary.Mui-checked {
    color: #2963AD;
}
.LoginCheckPlace {
    margin: 0 10px 0 -10px;
}
.PageTitle h1 {
    margin: 0px;
}
.PageTitle h1 #PageTitle {
    font-size: 20px;
    font-weight: 600;
    display: block !important;
}
#PageTitle {
    display: none;
}
.PageTitle Button {
    display: none;
}
* {
    box-sizing: border-box;
}
.TGSNav {
    width: 100%;
    /* padding: 0 0 0 15%; */
}
.TGSNav .MuiList-root {
    width: 100%;
    padding: 0 0 0 10%;
}
.TGSNav .MuiListItem-gutters {
    padding-left: 0px;
    padding-right: 0px;
}
.TGSNav a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 15px 0 15px 15px;
    color: white;
    text-decoration: none;
}
.TGSNav .MuiButtonBase-root {
    padding: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 5px 0;
}
.TGSNav a.NavSelected {
    width: 100%;
    display: flex;
    padding: 15px 0 15px 15px;
    color: white;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: solid 4px #043B8B;
    background: #2f7bd4;
}
.TGSNav .DashIcon span.material-icons,
.TGSNav .RulesIcon span.material-icons,
.TGSNav .LocationIcon span.material-icons,
.TGSNav .SafetyIcon span.material-icons,
.TGSNav .NewsletterIcon span.material-icons,
.TGSNav .DepartmentIcon span.material-icons,
.TGSNav .CreatLinkIcon span.material-icons {
    display: block;
    margin: 0px 14px 0px 0px;
    width: 25px;
    height: 25px;
}
.TGSNav .DashIcon span.material-icons {
    background: url(../assets/Icons/DashboardIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .RulesIcon span.material-icons {
    background: url(../assets/Icons/RuleIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .LocationIcon span.material-icons {
    background: url(../assets/Icons/PinIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .SafetyIcon span.material-icons {
    background: url(../assets/Icons/ShieldIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .NewsletterIcon span.material-icons {
    background: url(../assets/Icons/NewsletterIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .DepartmentIcon span.material-icons {
    background: url(../assets/Icons/DepartmentIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .CreatLinkIcon span.material-icons {
    background: url(../assets/Icons/TicketIcon.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .DashIcon .NavSelected span.material-icons {
    background: url(../assets/Icons/DashboardIconSelected.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .RulesIcon .NavSelected span.material-icons {
    background: url(../assets/Icons/RuleIconSelected.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .LocationIcon .NavSelected span.material-icons {
    background: url(../assets/Icons/PinIconSelected.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .SafetyIcon .NavSelected span.material-icons {
    background: url(../assets/Icons/ShieldIconSelected.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .NewsletterIcon .NavSelected span.material-icons {
    background: url(../assets/Icons/NewsletterIconSelected.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .DepartmentIcon .NavSelected span.material-icons {
    background: url(../assets/Icons/DepartmentIconSelected.svg) no-repeat center center transparent;
    background-size: 100%;
}
.TGSNav .CreatLinkIcon .NavSelected span.material-icons {
    background: url(../assets/Icons/TicketIconSelected.svg) no-repeat center center transparent;
    background-size: 100%;
}
.LogoutBtn {
    position: absolute !important;
    bottom: 20px;
    width: 80%;
    margin: 10% !important;
    text-align: center;
    background: #2f7bd4 !important;
    color: white !important;
    padding: 10px 0 !important;
    border-radius: 10px;
}
.PagesFrame {
    width: 100%;
    padding: 30px 35px;
}
.PageHeader {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #CCCCCC;
    padding: 0 0 20px 0;
}
.PageTitle {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.HeaderSearchBox {
    width: 40%;
    max-width: 300px !important;
    min-width: 250px;
    position: relative;
    border-radius: 5px;
    background: white;
    padding: 5px !important;
    height: 40px;
}
.HeaderSearchBox label {
    color: #999999 !important;
    z-index: 1;
    padding: 2px 10px 0;
    font-family: 'Poppins', sans-serif !important;
    cursor: text;
}
.HeaderSearchBox button{
    background: url(../assets/searchIcon.svg) no-repeat center center #2963AD;
    background-size: 50%;
    min-width: 26px;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 9;
}
.HeaderSearchBox button:hover {
    background: url(../assets/searchIcon.svg) no-repeat center center #4181d4;
    background-size: 50%;
}
.HeadEmail,
.HeadAlert {
    min-width: 48px !important;
    display: block;
    background-color: white !important;
    border-radius: 5px !important;
    margin: 0 0 0 15px !important;
}
.HeadEmail {
    background: url(../assets/EmailIcon.svg) no-repeat center center;
    background-size: 50%;
}
.HeadAlert {
    background: url(../assets/AlertIcon.svg) no-repeat center center;
    background-size: 35%;
}
.HeadUserFrame {
    margin-left: 15px !important;
    border-radius: 5px !important;
    background: white !important;
    padding: 0 15px 0 10px !important;

}
.UserDropDown .MuiPopover-paper {
    width: 250px;
}
.HeadUserFrame .MuiAvatar-circle {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
.HeadUserFrame .MuiIconButton-root {
    padding: 6px 6px;
    margin-left: 10px;
}
.ContentPage {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.EditIcon {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    border: none !important;
    background: url(../assets/editIconHover.svg) no-repeat center center #F6F6F6;
    background-size: 66%;
    transition: all 0.3s ease-in-out;
}
.EditIcon:hover {
    background: url(../assets/editIcon.svg) no-repeat center center #2963AD;
    background-size: 66%;
}
.ViewIcon {
    width: 30px;
    min-width: auto !important;
    height: 30px;
    display: block;
    border-radius: 50% !important;
    border: none !important;
    background: url(../assets/ViewIcon.svg) no-repeat center center #F6F6F6 !important;
    background-size: 80% !important;
    transition: all 0.3s ease-in-out;
}
.ViewIcon:hover {
    background: url(../assets/ViewIconHover.svg) no-repeat center center #2963AD !important;
    background-size: 80% !important;
}

/* DashBoard */
.DashSoftware {
    width: 32%;
    margin: 26px 0 0 0;
}
.DashSoftware a{
    display: block;
    height: 70px;
    border-radius: 6px;
}
.DashBI a{
    background: url(../assets/tgs_software/TGS_Reporting.svg) no-repeat center center #2963AD;
}
.DashSaleforce a{
    background: url(../assets/tgs_software/SalesForce.svg) no-repeat center center #00A1E0;
    background-size: auto 60%;
}
.DashAssetPro a{
    background: url(../assets/tgs_software/AssetPro.svg) no-repeat center center #000000;
    background-size: auto 60%;
}
.DashSafeTrack a{
    background: url(../assets/tgs_software/SafeTrack.svg) no-repeat center center #383A4F;
    background-size: auto 40%;
}
.DashBourque a{
    background: url(../assets/tgs_software/BourqueLogistics.svg) no-repeat center center #FFFFFF;
    background-size: auto 80%;
}
.DashLocstatt a{
    background: url(../assets/tgs_software/Locstatt.svg) no-repeat center center #130E08;
    background-size: auto 60%;
}

/* Certificates & Licenses */
.DashCertificatsBox {
    width: 49%;
}
.DashCertificats {
    width: 100%;
    border-radius: 8px;
    position: relative !important;
    padding: 25px 30px;
    min-height: 350px;
    margin-top: 30px;
}
.DashArchive {
    background: url(../assets/AchieveYourCareerandLearningGoals.png) no-repeat right top #FFFFFF;
    background-size: contain;
    
}
.DashAnalytics {
    background: url(../assets/latestAnalytics.png) no-repeat 90% center #FFFFFF;
    background-size: 30%;
}
.DashCeriLogo {
    width: 60px;
    height: 80px;
    background: url(../assets/TGS_Logo2.svg) no-repeat left center;
}
.DashCeriText {
    font-size: 26px;
    font-weight: 600;
    padding: 30px 0;
    color:#2963AD;
}
.DashCertiComingSoon {
    color:#2963AD;
    font-weight: 600;
    font-size: 11px;
    position: absolute;
    bottom: 25px;
}

.LinkButton {
    border-radius: 8px !important;
    padding: 16px 30px !important;
    background: #2963AD !important;
    color: white !important;
    text-decoration: none !important;
}
.LiqTables {
    margin-top: 30px;
}
.SafetyTable td:nth-child(6) {
    color: #2963AD;
}
.LiqTables .MuiPaper-root {
    width: 100%;
    box-shadow: none;
    background: transparent;
}
.LiqTables .MuiPaper-root .MuiTableCell-root {
    border-bottom: none;
}
.LiqTables .MuiPaper-root .MuiTableCell-stickyHeader,
.LiqTables table thead tr {
    background-color: transparent !important;
    font-size: 16px;
}
.LiqTables table {
  border-collapse: separate;
  border-spacing: 0 12px;
}
.LiqTables table tr td:first-child,
.LiqTables table tr th:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 40px;
}
.LiqTables table tr td:last-child,
.LiqTables table tr th:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 40px;
}
.LiqTables .MuiPaper-root .MuiTableRow-root {
    background: white;
}
.SafetyModal {
    position: relative;
}
.SafetyModal .MuiDialog-paperWidthSm {
    width: 60%;
    max-width: 60%;
    min-width: 250px;
    border-radius: 10px;
    padding: 50px 0 20px 0;
    background: white !important;
}
.SafetyModal .ModalClose {
    width: 36px;
    min-width: auto !important;
    height: 36px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background: url(../assets/CloseIcon.svg) no-repeat center center #F7F7F7;
    background-size: 40%;
}
.SafetyModal .ModalClose:hover {
    background: url(../assets/CloseIconHover.svg) no-repeat center center #2963AD;
    background-size: 40%;
}
.SafetyModal thead th{
    font-weight: bold;
    font-size: 16px;
    color: #6A6A6A;
    background: transparent !important;
}
.SafetyModal.LiqTables .MuiPaper-root .MuiTableCell-root {
    background: #F7F7F7;
    padding-top: 26px;
    padding-bottom: 26px;
}
textarea,
textarea:focus {
    width: 100%;
    border-radius: 7px;
    border: none;
    padding: 6px;
    outline: none;
}
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C9C9C9;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
    opacity: 1; /* Firefox */
  }
  
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C9C9C9;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
  }
  
textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: #C9C9C9;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
  }
/* Material UI */
.HeaderSearchBox .MuiFormLabel-root.Mui-focused {
    color: #999 !important;
}
.HeaderSearchBox .MuiInput-underline:after,
.HeaderSearchBox .MuiInput-underline:before {
    border-bottom: none !important;
}
.HeaderSearchBox label,
.HeaderSearchBox .MuiInput-formControl {
    margin-top: 0px !important;
}
.HeaderSearchBox .MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important;
}
.HeaderSearchBox .MuiInputLabel-formControl {
    top: -16px !important;
}
.HeaderSearchBox .MuiInputBase-input {
    width: 80% !important;
}
.HeaderSearchBox .MuiFormControl-root {
    width: 100%;
}
.HeaderSearchBox .MuiInputLabel-shrink {
    transform: translate(0, -4px) scale(0.80) !important;
    transform-origin: top left !important;
}
.MuiInputLabel-shrink {
    transform: translate(14px, -4px) scale(0.80) !important;
    transform-origin: top left !important;
    color: #999 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color:#FFFFFF !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0px !important;
}

.FormTableArea {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.FormTableArea .Cols4 {
    width: 22.5%;
}

.FormTableArea .MuiInputLabel-outlined {
    transform: translate(10px, 11px) scale(1) !important;
    background: transparent;
}
.FormTableArea .Mui-focused .MuiInputLabel-outlined {
    transform: translate(14px, -12px) scale(1) !important;
    font-size: 11px;
    opacity: 0;
}
.FormTableArea .MuiFormLabel-filled {
    transform: translate(14px, -12px) scale(1) !important;
    font-size: 11px !important;
    opacity: 0;
}
.FormTableArea .MuiOutlinedInput-root {
    background: white;
    border-radius: 7px !important;
}
.FormTableArea .MuiOutlinedInput-notchedOutline {
    border-color: white;
}
.PrivateNotchedOutline-root-1 {
    border-width: 0px !important;
}
.MuiAutocomplete-endAdornment {
    top: calc(19px - 14px) !important;
}
.MultiCheckBox .MuiOutlinedInput-adornedEnd {
    min-height: 120px;
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
}